.DS_Store

# Compiled class file
*.class

# Log files
*.log

# Bytecode directory
bin/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/

# IntelliJ project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
nb-configuration.xml
/nbproject/private/
/build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/

# PyInstaller
__pycache__/
*.exe
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Pyenv
.python-version
